h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 8px;
}
.tittle_news{
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 550;
    margin-bottom: 8px;
}
.text_news{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}
.button{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 550;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background-color: #FFF;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    margin-bottom: 24px;
    display: block;
    width: 200px;
    text-align: center;
}
.button:hover{
    color: rgb(255, 89, 18);
    -webkit-box-shadow: 6px 6px 20px -14px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 6px 6px 20px -14px rgba(0, 0, 0, 0.26);
    box-shadow: 6px 6px 20px -14px rgba(0, 0, 0, 0.26);
}
.news{
    margin-top: 32px;
    border-bottom: 1px solid black;
    width: 100%;
}
